<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.biancheng.c.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="net.biancheng.c.entity.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="realName" jdbcType="VARCHAR" property="realName"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="accountCredit" jdbcType="INTEGER" property="accountCredit"/>
        <result column="accountLevel" jdbcType="INTEGER" property="accountLevel"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , username, password, realname, address, email,accountCredit,accountLevel
    </sql>

    <select id="findUserById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="getAllUser" resultMap="BaseResultMap">
        select *
        from user;
    </select>

    <insert id="addNewUser">
        INSERT INTO user (id, username, password, realName, address, email, accountCredit, accountLevel)
        values (#{id}, #{username}, #{password}, #{realName}, #{address}, #{email}, #{accountCredit}, #{accountLevel})
    </insert>

    <delete id="removeUser">
        delete from user where id=#{id}
    </delete>

    <update id="updatePassword">
        update user
        set password=#{newPassword}
        where id=#{id}
    </update>

    <update id="updateUsername">
        update user
        set username=#{newUsername}
        where id=#{id}
    </update>

    <update id="updateUserAccountCredit">
        update user
        set accountCredit=#{newAccountCredit}
        where id=#{id}
    </update>

    <update id="updateUserAccountLevel">
        update user
        set accountLevel=#{newAccountLevel}
        where id=#{id}
    </update>

    <select id="findUserByLevel" resultMap="BaseResultMap">
        select *
        from user where accountLevel&gt;=#{levelLowerBound} and accountLevel&lt;=#{levelUpperBound}
    </select>

    <select id="searchUserByUsername" resultMap="BaseResultMap">
        select *
        from user where username like concat('%',#{username},'%');
    </select>

    <select id="getDebtAccounts" resultMap="BaseResultMap">
        select *
        from user where accountCredit&lt;0
    </select>


</mapper>